.mainDiv {
  padding: 25px 5px 17px 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #cc231d;
  border-radius: 50%;
  height: 30px;
  transition: background-color 0.4s;
}

.mainSpan {
  background: transparent;
  color: #961a1a;
  text-align: center;
  font-size: 36px;

}

.mainDiv:hover {
  background-color: #c77070;
  border: 2px solid #be1e1e;
}